.ant-card-hoverable:hover {
    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;
    background-color: #1890ff;
    color: white
}

.ant-card-head-title:hover {
    color: white
}

.ant-card-body:hover {
    color: white
}
