django
djangorestframework
psycopg2-binary
gunicorn
gevent
Pillow
openpyxl
django-cors-headers
django-filter
django-crontab
requests
django-import-export
zeep
drf-excel
whitenoise
django-rest-passwordreset
